* {
    margin: 0;
    padding: 0;
}

.main-title {
    color: burlywood;
    background-color: aquamarine;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-aside {
    float: right;
    padding: 20px;
    margin: 30px;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    border-radius: 10px;
}

.image-wok {
    border-radius: 10px;
}

.image-aside-caption {
    text-align: center;
    font-style: italic;
}